#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Sun Jun 15 20:32:12 EDT 2025
experienceDropChance=5
farmProgressingTime=6000
luckyDropFarmLuckPercentage=95
progressingRequiresOwnerToBeOnline=false
speedEnhancementUpgradeSpeed=6
tier0progressionUpgradeSpeed=0
tier1progressionUpgradeSpeed=3
tier2progressionUpgradeSpeed=6
tier3progressionUpgradeSpeed=9
